$color-white  : #FFF;
$color-black  : #000;
$color-grey1  : #555;
$color-grey2  : #999;
$color-grey3  : #E3E2E2;

$color-red1    : #FD5F42;
$color-blue1   : #49A0AE;
$color-green1  : #22C48A;
$color-green2  : #A8CF69;
$color-yellow1 : #FCB84B;
$color-blue2   : #3B99D8;
$color-green3  : #26CBBE;

.bg-darkblue {
  background-color: #142634 !important;
}
.bg-darkgrey {
  background-color: #242424 !important;
}